<nav class="bg-transparent text-[#693b7c] py-2">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between items-center h-14">
      <a href="../index.html" class="text-base font-bold hover:text-[#b19cd9]">
        Michal Kozdon
      </a>
      <ul class="flex space-x-3">
        <li><a href="../index.html" class="hover:text-[#b19cd9]">Home</a></li>
        <li><a href="../pages/experience.html" class="hover:text-[#b19cd9]">Experience</a></li>
        <li><a href="../pages/education.html" class="hover:text-[#b19cd9]">Education</a></li>
        <li><a href="../pages/projects.html" class="hover:text-[#b19cd9]">Projects</a></li>
        <li><a href="../pages/skills.html" class="hover:text-[#b19cd9]">Skills</a></li>
        <li><a href="../pages/contact.html" class="hover:text-[#b19cd9]">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>